body {
	font-family: 'Josefin Sans', sans-serif;
	color: #2A2A2A;
	font-weight: 400;
}

img,
embed,
object,
 video {
	max-width: 100%;
}

.text-muted {
	color: #3F3F3F;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 40px;
}

.subtitle {
	font-size: 20px;
}

.title-logo {
	margin-top: 20px;
}

.modal-body-space {
	margin-top: 10px;
}


